
    <div id="header">
        <h1 class="logo">
            <a ng-click="goIndex('index')"></a>
        </h1>
    </div>
    <div id="topnav">
        <ul>
            <li>
                <a ng-click="goIndex('contact')" class="text-SH current">SH</a>
            </li>
            <li class="divider"></li>
            <li>
                <a ng-click="goIndex('contact2')"  class="text-GZ">GZ</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <div id="slides" class="" style="height:305px;width:728px;overflow:hidden;">
            <a href="" target="_blank">
                <img src="img/conBG1.PNG" alt=""></a>
        </div>
        <div class="article-contents" style="font-size: 14px;">
            <ul id="nav3">
                <li>
                    <a class="nav3-title" href="/about">ABOUT AQUABLEU</a>
                </li>
            </ul>
            <p style="background:none">
                Rm 631,Block B2,1158 Luochuan(M) Jing’an 200072,Shanghai
            </p>
            <p style="background:none">021-66055769/13564035941 sxu@aquq-bleu.com</p>
            <p style="background:none">上海市静安区洛川中路1158号B2栋631室</p>
            <p style="background:none;padding-top: 20px;">
                <img src="img/qq.png" alt="">    
                <img src="img/wx.PNG" alt="">    
                <img src="img/wb.png" alt=""></p>
        </div>

    </div>
    <div id="footer" class="clearfix">
    <div class="dongliang_gift">
       <a href="http://aquabag.taobao.com" target="_blank"><img src="img/taobao.PNG" alt=""></a>
       </div>
        <ul id="nav">
            <li>
                <a class="nav-about " ng-click="goIndex('about')">ABOUT AQUABLEU</a>
            </li>
            <li>
                <a class="nav-COLLECTION "  ng-click="goIndex('collection')">COLLECTION</a>
            </li>
            <li>
                <a class="nav-LOOKBOOK " ng-click="goIndex('lookbook')">LOOKBOOK</a>
            </li>
            <li>
                <a class="nav-NEWSLETTER " ng-click="goIndex('newsletter')">NEWSLETTER</a>
            </li>
            <li>
                <a class="nav-HOME " ng-click="goIndex('index')">HOME</a>
            </li>
            <li>
                <a href="#" class="ui-scrolltop" title="返回顶部">返回顶部</a>
            </li>
        </ul>
        <div class="subscribe" >
            <ul id="nav2">
                <li>
                    <a class="nav2-CONTACT"  ng-click="goIndex('contact')">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
    <p style="margin:0 auto;text-align:center;">
        <a style="color:#4a4a4a;">© 2016 Aquableu SpA - 版权所有</a>
    </p>