<div id="header">
    <h1 class="logo">
        <a ng-click="goIndex('index')"></a>
    </h1>
</div>
<div class="container">
    <div id="slides" class="slides" style="height:305px;width:728px;overflow:hidden;">
        <a href="" target="_blank">
            <img src="img/bg1.PNG" alt=""></a>
        <a href="" target="_blank">
            <img src="img/bg2.PNG" alt=""></a>
        <a href="" target="_blank">
            <img src="img/bg3.PNG" alt=""></a>
    </div>
</div>

<div id="footer" class="clearfix">
    <div class="dongliang_gift">
       <a href="http://aquabag.taobao.com" target="_blank"><img src="img/taobao.PNG" alt=""></a>
       </div>
    <ul id="nav">
        <li>
            <a class="nav-about " ng-click="goIndex('about')">ABOUT AQUABLEU</a>
        </li>
        <li>
            <a class="nav-COLLECTION "  ng-click="goIndex('collection')">COLLECTION</a>
        </li>
        <li>
            <a class="nav-LOOKBOOK " ng-click="goIndex('lookbook')">LOOKBOOK</a>
        </li>
        <li>
            <a class="nav-NEWSLETTER " ng-click="goIndex('newsletter')">NEWSLETTER</a>
        </li>
        <li>
            <a class="nav-HOME " ng-click="goIndex('index')">HOME</a>
        </li>
        <li>
            <a href="#" class="ui-scrolltop" title="返回顶部">返回顶部</a>
        </li>
    </ul>
    <div class="subscribe" >
        <ul id="nav2">
            <li>
                <a class="nav2-CONTACT"  ng-click="goIndex('contact')">CONTACT</a>
            </li>
        </ul>
    </div>
</div>

<p style="margin:0 auto;text-align:center;">
    <a style="color:#4a4a4a;">© 2016 Aquableu SpA - 版权所有</a>
</p>