
    <div id="header">
        <h1 class="logo">
            <a ng-click="goIndex('index')"></a>
        </h1>
    </div>
    <div id="topnav">
        <ul>
            <li>
                <a  class="text-lookbook current">lookbook</a>
            </li>
        </ul>
    </div>

    <div class="container" style="text-align: center;padding-bottom: 50px;">
       <span  class="text-summer">SPRING SUMMER 2017</span>
    </div>
    <div class="container">
        <div id="events-item">
            <ul>
                <li>
                    <a>
                        <img src="img/l1.PNG" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l2.PNG" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l3.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l4.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l5.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l6.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l7.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l8.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l9.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l10.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l11.png" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l12.PNG" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l13.PNG" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l14.PNG" alt=""></a>
                </li>
                <li>
                    <a>
                        <img src="img/l15.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footer" class="clearfix">
    <div class="dongliang_gift">
       <a href="http://aquabag.taobao.com" target="_blank"><img src="img/taobao.PNG" alt=""></a>
       </div>
        <ul id="nav">
            <li>
                <a class="nav-about " ng-click="goIndex('about')">ABOUT AQUABLEU</a>
            </li>
            <li>
                <a class="nav-COLLECTION "  ng-click="goIndex('collection')">COLLECTION</a>
            </li>
            <li>
                <a class="nav-LOOKBOOK " ng-click="goIndex('lookbook')">LOOKBOOK</a>
            </li>
            <li>
                <a class="nav-NEWSLETTER " ng-click="goIndex('newsletter')">NEWSLETTER</a>
            </li>
            <li>
                <a class="nav-HOME " ng-click="goIndex('index')">HOME</a>
            </li>
            <li>
                <a href="#" class="ui-scrolltop" title="返回顶部">返回顶部</a>
            </li>
        </ul>
        <div class="subscribe" >
            <ul id="nav2">
                <li>
                    <a class="nav2-CONTACT"  ng-click="goIndex('contact')">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
    <p style="margin:0 auto;text-align:center;">
        <a style="color:#4a4a4a;">© 2016 Aquableu SpA - 版权所有</a>
    </p>